




/*
     FILE ARCHIVED ON 14:50:59 Oct 12, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:36:08 Jan 20, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
pre
{
	border-style: solid;
	padding: 1em;
	display: table;
}

pre.c
{
	background-color: AliceBlue
}

pre.lisp
{
	background-color: Beige
}

